# Application Configuration
DEBUG=False
SYMBOLS=BTCUSDT, ETHUSDT, BNBUSDT, SOLUSDT, XRPUSDT, ADAUSDT, DOGEUSDT, POLUSDT
MIN_BASIS = 0.0024  # 0.24%
SAFETY_MARGIN = 0.0004  # 0.04%
MIN_FUNDING_RATE = 0.0  # funding must be positive

# Notification
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here
TELEGRAM_CHAT_ID=your-telegram-chat-id-here