# Application Configuration
DEBUG=False
SYMBOLS=BTCUSDT, ETHUSDT, BNBUSDT, SOLUSDT, XRPUSDT, ADAUSDT, DOGEUSDT, POLUSDT

# Enter Configurations
MIN_SPREAD=0.0024
SAFETY_MARGIN=0.0004
MIN_FUNDING_RATE=0.0

# Exit Configurations
EXIT_MAX_SPREAD=0.0

# Notification
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here
TELEGRAM_CHAT_ID=your-telegram-chat-id-here